<h3>Buscar Socios</h3>
<div class="row entity-options-row">
    <a ui-sref="members.new()">
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
             Nuevo Socio
        </button>
    </a>
</div>
    <div class="row">

        <div class="input-group" id="search">
            <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Busca socios por nombre y/o apellido" autofocus/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>

        <!--Results area -->
        <img class="media-object avatar-photo" src="http://www.elnorte.com/libre/acceso/imgdiseno/loading3.gif" alt="img" ng-if="loading">
        <div class="media search-result well" ng-repeat="member in members | search:searchCriteria" ng-if="!loading">
            <div class="pull-left">
                <img class="media-object avatar-photo" src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" alt="img">
            </div>
            <div class="media-body">
                <a ui-sref="members.abm({memberId: member.id})"><h4 class="media-heading">{{ member.firstName }} {{ member.lastName }}</h4></a>
                <p> Nacionalidad: {{ member.nationality }}</p>
            </div>
        <entity-controls edit-action="edit(place)" delete-action="delete(member)" entity="member" entity-name="members" delete-status="deleteStatus"></entity-controls>

        </div>
     </div>