<div class="row">
    <div class="col-md-3">
            <label for="{{ inputName }}">{{ label }}<span style="color:red" ng-show="::isRequired">*</span></label>  
    </div>
    <div class="col-md-9 form-group" ng-class="{'has-error': (form[inputName].$invalid && form.$submitted || form[inputName].$invalid && form[inputName].$dirty)}">
        <div class="input-group">
            <input type="{{ inputType }}"
                   class="form-control"
                   name="{{ inputName }}"
                   id="{{ inputId }}"
                   placeholder="{{ placeholder }}"
                   ng-required=" {{ isRequired }}" 
                   ng-model="model" 
                   ng-disabled="isDisabled"
                   ng-min="min"
                   ng-max="max"
                   ng-minlength="minLength"
                   ng-maxlength="maxLength">
            <span class="input-group-addon"><span class="glyphicon glyphicon-{{ glyphicon }}"></span></span>
        </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12"ng-messages="form[inputName].$error" role="alert" ng-if="!noValidate && form.$submitted || !noValidate && form[inputName].$dirty">
        <div class="edit-validation-alert" ng-message="required">Este dato es requerido.</div>
        <div class="edit-validation-alert" ng-message="minlength">La longitud mínima de este campo es de {{::minLength}} caracteres.</div>
        <div class="edit-validation-alert" ng-message="maxlength">La longitud máxima de este campo es de {{::maxLength}} caracteres.</div>
        <div class="edit-validation-alert" ng-message="min">Este campo debe ser mayor a {{::min}}.</div>
        <div class="edit-validation-alert" ng-message="max">Este campo debe ser menor a {{::max}}.</div>
        <div class="edit-validation-alert" ng-message="email">Este campo debe tener formato de email.</div>
      </div>
    </div>
</div>
