<!DOCTYPE HTML>
<html ng-app="bookstore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/favicon.ico">
    <title>BookSurfer</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/application.common.css" >
    <link rel="stylesheet" href="./assets/css/search.css" >
    <link rel="stylesheet" href="./assets/css/card.css" >
</head>
<body>

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="loan.home">Booksurfer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-if="currentUser">
      <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                Buscar<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ui-sref="books.search">Buscar Libros</a></li>
                    <li><a ui-sref="members.search">Buscar Socios</a></li>
                    <li><a ui-sref="authors.search">Buscar Autores</a></li>
                    <li><a ui-sref="users.search">Buscar Usuarios</a></li>
                    <li><a ui-sref="publishers.search">Buscar Editoriales</a></li>
                </ul>
            </li>
            <li><a ui-sref="loan.withdraw">Préstamo</a></li>
            <li><a ui-sref="loan.return">Devolución</a></li>

            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href id="simple-dropdown" uib-dropdown-toggle>
                Reportes<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li><a ui-sref="reports.latestLoans">Retiros últimos 12 meses</a></li>
                <li><a ui-sref="reports.outdatedLoans">Devoluciones en mora</a></li>
                <li><a ui-sref="reports.popularBooks">Libros más retirados</a></li>
              </ul>
            </li>
            <li><a ng-click="logout()">Cerrar Sesión</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand">Bienvenido {{currentUser}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div class="main-container" ui-view></div>

    <script src="./app/components/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./app/components/bower_components/angular/angular.min.js"></script>
    <script src="./app/components/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="./app/components/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./app/components/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="./app/components/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./app/components/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./app/components/bower_components/ngstorage/ngStorage.min.js"></script>

    <!-- shared module inits -->
    <script src="./app/components/shared/shared.module.js"></script>
    <script src="./app/components/shared/services/shared.endpoints.js"></script>
    <script src="./app/components/shared/services/shared.lists.js"></script>
    <script src="./app/components/shared/services/shared.login.js"></script>
    <script src="./app/components/shared/filters/shared.start-from.filter.js"></script>

    <!-- entityManager module inits -->
    <script src="./app/components/entity-manager/entity-manager.module.js"></script>
    <script src="./app/components/entity-manager/services/entity-manager.entity-abm.service.js"></script>
    <script src="./app/components/entity-manager/services/entity-manager.entity-search.service.js"></script>
    <script src="./app/components/entity-manager/directives/text-field/entity-manager.text-field.directive.js"></script>
    <script src="./app/components/entity-manager/directives/toggle-field/entity-manager.toggle-field.directive.js"></script>
    <script src="./app/components/entity-manager/directives/generic-error/entity-manager.generic-error.directive.js"></script>
    <script src="./app/components/entity-manager/directives/select-field/entity-manager.select-field.directive.js"></script>
    <script src="./app/components/entity-manager/directives/checkbox-field/entity-manager.checkbox-field.directive.js"></script>
    <script src="./app/components/entity-manager/directives/date-field/entity-manager.date-field.directive.js"></script>
    
    <!-- -------------  AUTHORS --------------- -->
    
    <!-- Authors-abm module inits -->
    <script src="./app/components/authors-abm/authors-abm.module.js"></script>
    <script src="./app/components/authors-abm/authors-abm.routing.js"></script>

    <!-- Services -->
    <script src="./app/components/authors-abm/services/authors-abm.countries.js"></script>
    
    <!-- Filters -->
    <script src="./app/components/authors-abm/filters/authors-abm.search.filter.js"></script>
    <!-- Controllers -->
    <script src="./app/components/authors-abm/controllers/authors-abm.abm.controller.js"></script>
    <script src="./app/components/authors-abm/controllers/authors-abm.search.controller.js"></script>
    <script src="./app/components/authors-abm/controllers/authors-abm.deleted.modal.controller.js"></script>

    <!-- -------------  USERS --------------- -->
    
    <!-- Authors-abm module inits -->
    <script src="./app/components/users-abm/users-abm.module.js"></script>
    <script src="./app/components/users-abm/users-abm.routing.js"></script>

   
    <!-- Filters -->
    <script src="./app/components/users-abm/filters/users-abm.search.filter.js"></script>
    <!-- Controllers -->
    <script src="./app/components/users-abm/controllers/users-abm.abm.controller.js"></script>
    <script src="./app/components/users-abm/controllers/users-abm.search.controller.js"></script>
    <script src="./app/components/users-abm/controllers/users-abm.deleted.modal.controller.js"></script>

    <!-- -------------  PUBLISHERS --------------- -->
    
    <!-- Authors-abm module inits -->
    <script src="./app/components/publishers-abm/publishers-abm.module.js"></script>
    <script src="./app/components/publishers-abm/publishers-abm.routing.js"></script>

   
    <!-- Filters -->
    <script src="./app/components/publishers-abm/filters/publishers-abm.search.filter.js"></script>
    <!-- Controllers -->
    <script src="./app/components/publishers-abm/controllers/publishers-abm.abm.controller.js"></script>
    <script src="./app/components/publishers-abm/controllers/publishers-abm.search.controller.js"></script>
    <script src="./app/components/publishers-abm/controllers/publishers-abm.deleted.modal.controller.js"></script>
    
     <!-- -------------  BOOKS ---------------- -->
    
    <!-- Books-abm module inits -->
    <script src="./app/components/books-abm/books-abm.module.js"></script>
    <script src="./app/components/books-abm/books-abm.routing.js"></script>

    <!-- Services -->
    <script src="./app/components/books-abm/services/books-abm.countries.js"></script>
    
    <!-- Filters -->
    <script src="./app/components/books-abm/filters/books-abm.search.filter.js"></script>
    <!-- Controllers -->
    <script src="./app/components/books-abm/controllers/books-abm.abm.controller.js"></script>
    
    <script src="./app/components/books-abm/controllers/books-abm.search.controller.js"></script>
    <script src="./app/components/books-abm/controllers/books-abm.deleted.modal.controller.js"></script>
    
    <!-- -------------  MEMBERS ---------------- -->
    
    <!-- members-abm module inits -->
    <script src="./app/components/members-abm/members-abm.module.js"></script>
    <script src="./app/components/members-abm/members-abm.routing.js"></script>

    <!-- Services -->
    <script src="./app/components/members-abm/services/members-abm.countries.js"></script>
    
    <!-- Filters -->
    <script src="./app/components/members-abm/filters/members-abm.search.filter.js"></script>
    <!-- Controllers -->
    <script src="./app/components/members-abm/controllers/members-abm.abm.controller.js"></script>
    <script src="./app/components/members-abm/controllers/members-abm.search.controller.js"></script>
    <script src="./app/components/members-abm/controllers/members-abm.deleted.modal.controller.js"></script>

    <!-- -------------  REPORTS ---------------- -->
    
    <!-- members-abm module inits -->
    <script src="./app/components/reports/reports.module.js"></script>
    <script src="./app/components/reports/reports.routing.js"></script>

    <!-- Controllers -->
    <script src="./app/components/reports/controllers/reports.latest-loans.controller.js"></script>
    <script src="./app/components/reports/controllers/reports.outdated-loans.controller.js"></script>
    <script src="./app/components/reports/controllers/reports.popular-books.controller.js"></script>

    <!-- -------------  LOGIN ---------------- -->
    
    <!-- members-abm module inits -->
    <script src="./app/components/login/login.module.js"></script>
    <script src="./app/components/login/login.routing.js"></script>

    <!-- Controllers -->
    <script src="./app/components/login/controllers/login.controller.js"></script>

    <!-- -------------  loan manager ---------------- -->
    
    <!-- members-abm module inits -->
    <script src="./app/components/loan-manager/loan-manager.module.js"></script>
    <script src="./app/components/loan-manager/loan-manager.routing.js"></script>

    <!-- Controllers -->
    <script src="./app/components/loan-manager/controllers/loan-manager.return.controller.js"></script>
    <script src="./app/components/loan-manager/controllers/loan-manager.return-confirmation.controller.js"></script>
    <script src="./app/components/loan-manager/controllers/loan-manager.withdraw.controller.js"></script>
    <script src="./app/components/loan-manager/controllers/loan-manager.withdraw-confirmation.controller.js"></script>
    <script src="./app/components/loan-manager/controllers/loan-manager.show.controller.js"></script>
    <script src="./app/components/loan-manager/controllers/loan-manager.home.controller.js"></script>
    <!-- Filters -->
    <script src="./app/components/loan-manager/filters/loan-manager.select-sample-return.filter.js"></script>
    <script src="./app/components/loan-manager/filters/loan-manager.select-sample-withdraw.filter.js"></script>
    <script src="./app/components/loan-manager/filters/loan-manager.select-member.filter.js"></script>
    
    <!-- App inits -->
   
    <script src="./app/app.module.js"></script>
    <!-- Other Libraries -->
    <script src="./app/appDev.e2e.js"></script>
</body>
</html>