<form name="bookAbmForm" role="form" novalidate>
    <div class="well">

                    <div class="col-md-12 section-label">
                        <label ng-show="{{ mode.status === 'view' }}">Datos del libro</label>
                    </div>
                    <text-field input-name="title"
                                input-id="title"
                                placeholder="ej. Harry Potter y la pierda filosofal"
                                label="Título del libro"
                                glyphicon="user"
                                ng-model="book.title"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="publisher"
                                input-id="publisher"
                                placeholder="ej. Planeta"
                                label="Editorial"
                                glyphicon="credit-card"
                                ng-model="book.publisher"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="isbn"
                                input-id="isbn"
                                placeholder="ej. 1204423095839482930"
                                label="isbn"
                                glyphicon="credit-card"
                                ng-model="book.isbn"
                                is-required="false"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="price"
                                input-id="price"
                                placeholder="ej. 302"
                                label="Precio en dólares (U$S)"
                                glyphicon="credit-card"
                                ng-model="book.price"
                                is-required="false"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <div class="col-md-12 section-label">
                        <label>Datos de la edición</label>
                    </div>
                    <text-field input-name="editionCountry"
                                input-id="editionCountry"
                                placeholder="ej. Argentina"
                                label="País de edición"
                                glyphicon="user"
                                ng-model="book.editionCountry"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="editionYear"
                                input-id="editionYear"
                                placeholder="ej. 1920"
                                label="Año de edición"
                                glyphicon="user"
                                ng-model="book.editionYear"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <div class="col-md-12 section-label">
                        <label>Datos requeridos por la biblioteca</label>
                    </div>
                    <text-field input-name="reputationValue"
                                input-id="reputationValue"
                                placeholder="ej. 4"
                                label="Reputación requerida"
                                glyphicon="thumbs-up"
                                ng-model="book.reputationValue"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="loanType"
                                input-id="loanType"
                                placeholder="LOCAL | REMOTE"
                                label="Tipo de préstamo ('LOCAL'|'REMOTE')"
                                glyphicon="thumbs-up"
                                ng-model="book.loanType"
                                is-required="true"
                                is-disabled=" mode.status === 'view' ">
                    </text-field>
        <div class="entity-actions-btn-group clearfix">
            <input type="submit" class="entity-action btn btn-success" value="Guardar libro" ng-click="saveBook()" ng-show="mode.status ==='create' || mode.status ==='edit'"/>
            <input type="submit" class="entity-action btn btn-danger" value="Eliminar autor" ng-click="deleteBook()" ng-show="mode.status ==='edit'"/>
        </div>
    </div>
</form>