<div class="row">
    <h3 class="title col-sm-10 no-col-margin">Buscar libros</h3>
    <div class="col-sm-2 no-col-margin">
        <a ui-sref="books.new()">
            <button class="btn btn-success btn-new">
                <span class="glyphicon glyphicon-plus"></span>
                 Nuevo Libro
            </button>
        </a>
    </div>
</div>

<div class="row">
    <div class="input-group" id="search">
        <input type="text" class="form-control" ng-model="searchCriteria.title" placeholder="Busca libros por título..." autofocus="true" />
        <div class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="toggleAdvancedSearch()" uib-tooltip="Más opciones de búsqueda"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        </div>
    </div>
    <uib-accordion>
        <div id="box-advanced-search" uib-accordion-group class="" is-open="showAdvancedSearch">
              <label for="searchedAuthor">Busca por autor</label>
              <input type="text" name="searchedAuthor" class="form-control" ng-model="searchCriteria.author" placeholder="Busca libros por nombre y/o apellido del autor" autofocus/>
              <label for="searchedGender">Busca por género</label>
              <input type="text" name="searchedGender" class="form-control" ng-model="searchCriteria.gender" placeholder="Busca libros por su género" autofocus/>
              <label for="searchedIsbn">Busca por ISBN</label>
              <input type="text" name="searchedIsbn" class="form-control" ng-model="searchCriteria.isbn" placeholder="Busca libros por ISBN" autofocus/>
        </div>
    </uib-accordion>
    <!--Results area -->
    <img class="media-object avatar-photo" src="http://www.elnorte.com/libre/acceso/imgdiseno/loading3.gif" alt="img" ng-if="loading">
    <div class="media search-result well" ng-repeat="book in books | bookSearch:searchCriteria" ng-if="!loading">
        <div class="pull-left">
            <img class="media-object avatar-photo" src="http://findicons.com/files/icons/1035/human_o2/128/emblem_library.png" alt="img">
        </div>
        <div class="media-body">
            <a ui-sref="books.abm({id: book.id})"><h4 class="media-heading">{{ book.title }}</h4></a>

            <span ng-show="book.authors[0]">
            Autores: <b>{{ book.authors[0].lastName + ' ' + book.authors[0].firstName }} -</b>
            </span>
            <span>
            Editorial: <b>{{ book.publisher }}</b> - Año: <b>{{ book.editionYear }}</b> - Género: <b>{{ book.gender }}</b> 
            </span>
        </div>
        <entity-controls edit-action="edit(place)" delete-action="delete(book)" entity="book" entity-name="books" delete-status="deleteStatus"></entity-controls>
    </div>
</div>