<form name="form" role="form" novalidate>
            <div class="well">

                    <div id="entity-name-display" class="col-lg-12 well">
                            <img class="entity-edit-photo pull-left" ng-src="{{ defaultImg }}" alt="No se ha hallado la imagen"/>
                            <h2>{{ book.title }}</h2>
                            <h4>Editorial: {{ book.publisher }}, {{ book.editionYear }}</h4>
                    </div>
                    <div id="mode-message" class="col-md-12" ng-class="{ 'bg-primary': mode.status ==='view', 'bg-danger': mode.status ==='edit' }">
                        <h4 ng-if="mode.status === 'edit'">Modo de edición</h4>
                        <h4 ng-if="mode.status === 'create'">Modo de creación</h4>
                        <h4 ng-if="mode.status === 'view'">Modo de sólo lectura</h4>
                    </div>

                    <div class="col-md-12 section-label">
                        <label>Datos del libro</label>
                    </div>
                    <text-field input-name="title"
                                input-id="title"
                                placeholder="ej. Harry Potter y la pierda filosofal"
                                label="Título del libro"
                                glyphicon="user"
                                ng-model="book.title"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="publisher"
                                input-id="publisher"
                                placeholder="ej. Planeta"
                                label="Editorial"
                                glyphicon="credit-card"
                                ng-model="book.publisher"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="ISBN"
                                input-id="ISBN"
                                placeholder="ej. 1204423095839482930"
                                label="ISBN"
                                glyphicon="credit-card"
                                ng-model="book.ISBN"
                                is-required="false"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="price"
                                input-id="price"
                                placeholder="ej. 302"
                                label="Precio en dólares (U$S)"
                                glyphicon="credit-card"
                                ng-model="book.price"
                                is-required="false"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <div class="col-md-12 section-label">
                        <label>Datos de la edición</label>
                    </div>
                    <text-field input-name="editionCountry"
                                input-id="editionCountry"
                                placeholder="ej. Argentina"
                                label="País de edición"
                                glyphicon="user"
                                ng-model="book.editionCountry"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="editionYear"
                                input-id="editionYear"
                                placeholder="ej. 1920"
                                label="Año de edición"
                                glyphicon="user"
                                ng-model="book.editionYear"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <div class="col-md-12 section-label">
                        <label>Datos requeridos por la biblioteca</label>
                    </div>
                    <text-field input-name="reputationValue"
                                input-id="reputationValue"
                                placeholder="ej. 4"
                                label="Reputación requerida"
                                glyphicon="thumbs-up"
                                ng-model="book.reputationValue"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>

                    <div class="entity-actions-btn-group clearfix">
                        <input type="submit" class="entity-action btn btn-warning" value="Editar" ng-click="goToEdit()" ng-show="mode.status ==='view'"/>
                        <input type="submit" class="entity-action btn btn-success" value="Guardar cambios" ng-click="saveBook()" ng-disabled="form.$invalid" ng-show="mode.status !=='view'"/>
                        <input type="submit" class="entity-action btn btn-warning" value="Descartar cambios" ng-click="discardChanges()" ng-disabled="form.$invalid" ng-show="mode.status ==='edit'"/>
                        <input type="submit" class="entity-action btn btn-danger" value="Eliminar autor" ng-click="deleteBook()" ng-show="mode.status ==='edit'"/>
                    </div>
            </form>
    </div>

    <div class="subentity-edit-panel well clearfix">
        <div class="col-md-12 clearfix">
                <label class="subentity-label">Autores</label>
        </div>
        <div class="col-md-12 clearfix subentities-display-row">
                <span ng-show="book.authors === undefined || book.authors.lenght === 0">Aún no hay autores asociados.</span>
                <span class="label label-primary subentity-capsule" ng-repeat="author in book.authors">{{ author.firstName }} {{ author.lastName }}&nbsp
                    <span class="glyphicon glyphicon-remove subentity-capsule-icon" ng-click="deleteAuthor('authors', author)" ng-hide="(mode.status ==='view')"></span>
                </span>
        </div>
        <div class="subentity-edit-controls" ng-show="mode.status !=='view'">
            <div class="col-md-12 clearfix">
                <div class="col-md-6 clearfix">
                    <div class="input-group">
                            <select class="form-control"
                              ng-options="(author.firstName + ' '+ author.lastName+' - '+author.nationality) for author in allAuthors"
                              ng-model="existingAuthor">
                                <option value=''>Elige un autor de la lista...</option>
                            </select>
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success" ng-click="addExistingAuthor('authors', existingAuthor)" ng-disabled="!existingAuthor">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 clearfix">
                    <button type="button" class="btn btn-block btn-primary" ng-model="mustShowNewAuthor" uib-btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true">
                        ... o crea un nuevo autor
                    </button>
                </div>
                <div uib-collapse="mustShowNewAuthor">
                    <div class="col-md-12 section-label">
                            <text-field input-name="authorFirstName"
                                        input-id="authorFirstName"
                                        label="Nombre"
                                        glyphicon="user"
                                        ng-model="newAuthor.firstName"
                                        is-required="true">
                            </text-field>
                            <text-field input-name="authorLastName"
                                        input-id="authorLastName"
                                        label="Apellido"
                                        glyphicon="user"
                                        ng-model="newAuthor.lastName"
                                        is-required="true">
                            </text-field>
                            <text-field input-name="authorNationality"
                                        input-id="authorNationality"
                                        label="Nacionalidad"
                                        glyphicon="user"
                                        ng-model="newAuthor.nationality"
                                        is-required="true">
                            </text-field>
                    </div>
                    <div class="col-md-12">
                        <div class="entity-actions-btn-group clearfix">
                          <input type="submit" class="entity-action btn btn-primary" value="Crear autor y asociar a este libro" ng-click="addNewAuthor('authors', newAuthor)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subentities-list" class="well clearfix">
        <div class="col-md-12 clearfix">
           <label class="subentity-label">Ejemplares</label>
        </div>
        <div id="subentities-table">
          <table class="table">
            <thead>
              <tr>
                <th class="subentities-list-header">ID</th>
                <th class="subentities-list-header">Código de barras</th>
                <th class="subentities-list-header">F. Alta</th>
                <th class="subentities-list-header">F. Baja</th>
                <th class="subentities-list-header" ng-hide="(mode.status ==='view')">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sample in book.samples">
                <td><a href="#"> {{ sample.id }}</a></td>
                <td>{{ sample.barCode }}</td>
                <td>{{ sample.acquisitionDate }}</td>
                <td>{{ sample.withdrawDate }}</td>
                <td ng-hide="(mode.status ==='view')">
                    <div class="btn-group">
                      <button type="button" ng-click="editSample(sample)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                      <button type="button" ng-click="deleteSample('samples', sample)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="clearfix">
              <button type="button" ng-hide="(mode.status ==='view')" ng-click="prepareNewSample()" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo ejemplar</button>
          </div>
        </div>
      <div uib-collapse="!mustShowSampleForm">
    <div class="col-md-12 clearfix">
       <label class="subentity-label">Alta/Edición de ejemplares</label>
    </div>
                    <div class="col-md-12 section-label">
                            <text-field input-name="sampleId"
                                        input-id="sampleId"
                                        label="ID"
                                        glyphicon="user"
                                        ng-model="newSample.id"
                                        is-required="false"
                                        is-disabled="true">
                            </text-field>
                            <text-field input-name="sampleBarCode"
                                        input-id="sampleBarCode"
                                        label="Codigo de barras"
                                        glyphicon="barcode"
                                        ng-model="newSample.barCode"
                                        is-required="true">
                            </text-field>
                            <text-field input-name="acquisitionDate"
                                        input-id="acquisitionDate"
                                        label="Fecha de adquisición"
                                        glyphicon="calendar"
                                        ng-model="newSample.acquisitionDate"
                                        is-required="false">
                            </text-field>
                            <text-field input-name="withdrawDate"
                                        input-id="withdrawDate"
                                        label="Fecha de baja"
                                        glyphicon="calendar"
                                        ng-model="newSample.withdrawDate"
                                        is-required="false">
                            </text-field>
                    </div>
                    <div class="col-md-12">
                        <div class="entity-actions-btn-group clearfix">
                          <input type="submit" class="entity-action btn btn-success" value="Crear ejemplar" ng-click="createSample('samples', newSample)" ng-show="creatingSample"/>
                          <input type="submit" class="entity-action btn btn-success" value="Guardar cambios en ejemplar" ng-click="saveEditedSample('samples', newSample)" ng-show="editingSample"/>
                        </div>
                    </div>
                </div>  
        
    </div>
    
</form>
<modal save-status="saveStatus"></modal>