<div class="row">
<div class="wrapper">
            
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img ng-src="{{ author.imageUrl }}" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <span id="share" class="share-toggle share-icon" href="#"></span>
                    </div>

                    <article class="card__article">
                        <h2><a href="#">{{ author.firstName }} {{ author.lastName }}</a></h2>
                        <h3><a href="#">{{ author.nationality }} </a></h3>
                        
                    </article>
                </div>

                <div class="card__action">
                    
                    <div class="card__author">
                        <img ng-src="{{ author.imageUrl }}" alt="user">
                        <div class="card__author-content">
                        </div>
                    </div>
                </div>

                <entity-controls edit-action="" delete-action="" entity-name="authors" entity-id=" {{author.id}}"></entity-controls>
            </div>
        </div>
</div>
