<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmación de nuevo préstamo</h3>
</div>
<div class="modal-body" id="modal-body">
        <div class="info-screen">

            <h3 class="title"> Nuevo Préstamo</h3>
            <div class="content-section">
                <div><label>Día de retiro:&nbsp</label><span>{{ loan.withdrawDate }}</span></div>
                <div><label>Tipo de préstamo:&nbsp</label><span>{{ loanTypeTranslate(loan) }}</span></div>
            </div>

            <h3 class="title"> Ejemplar</h3>
            <div class="content-section">
                <div><label>Libro:&nbsp</label><span>{{ sample.book.title }}</span></div>
                <div><label>Editorial:&nbsp</label><span>{{ sample.book.publisher }}</span></div>
                <div><label>Año de edición:&nbsp</label><span>{{ sample.book.editionYear }}</span></div>
                <div><label>Código de barras:&nbsp</label><span>{{ sample.barCode }}</span></div>
                <div ng-if="sample.acquisitionDate"><label>Fecha adquisicion:&nbsp</label><span>{{ sample.acquisitionDate }}</span></div>
            </div>

            <h3 class="title">Socio solicitante</h3>
            <div class="content-section">
                <div><label>Nombre completo:&nbsp</label><span>{{ member.firstName + ' '+ member.lastName }}</span></div>
                <div><label>DNI:&nbsp</label><span>{{ member.dni }}</span></div>
            </div>


        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Confirmar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>