<div id="entity-name-display" class="col-lg-12 well">
    <h2>Prestar un ejemplar</h2>
    <p>Prestar un ejemplar de 
        <span>{{ book.title }}</span>
        al socio 
        <span> {{ member.firstName + ' ' + member.lastName }}</span>
    </p>
</div>
<div class="row well">
    <form>
        <div class="row">
            <div class="col-md-12">
                <h4>Ejemplar a prestar</h4>
                    <div class="media search-result well">
                        <a class="pull-left" href="#">
                            <img class="media-object avatar-photo" src="http://findicons.com/files/icons/1035/human_o2/128/emblem_library.png" alt="img">
                        </a>
                        <div class="media-body">
                            <a ng-href="#/books/{{book.id}}"><h4 class="media-heading">{{ book.title }}</h4></a>
                            <p> ID: <b>{{ book.id }}</b> - Editorial: <b>{{ book.publisher }}</b> - Año: <b>{{ book.editionYear }}</b></p>
                            <p><span class="label label-primary">{{book.samplesAvailable}}</span> de <span class="label label-danger">{{book.samplesAvailable}}</span> ejemplares disponibles.</p>
                        </div>
                        <entity-controls edit-action="edit(place)" delete-action="delete(book)" entity="book" entity-name="books" delete-status="deleteStatus"></entity-controls>
                    </div>
            </div>

            <div class="col-md-12">
                <h4>Socio solicitante</h4>
                <div class="media search-result well">
                    <a class="pull-left" href="#">
                        <img class="media-object avatar-photo" src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" alt="img">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ member.firstName }} {{ member.lastName }}</h4>
                        <p> ID: {{ member.id }} - Nacionalidad: {{ member.nationality }}</p>
                    </div>
                </div>
<!--                    <text-field input-name="firstName"
                                input-id="firstName"
                                placeholder="ej. Juan"
                                label="Nombre(s)"
                                glyphicon="user"
                                ng-model="member.firstName"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="lastName"
                                input-id="lastName"
                                placeholder="ej. Gonzalez"
                                label="Apelido(s)"
                                glyphicon="user"
                                ng-model="member.lastName"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="DNI"
                                input-id="DNI"
                                placeholder="ej. 35656537"
                                label="DNI"
                                glyphicon="credit-card"
                                ng-model="member.DNI"
                                is-required="true"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="CUIL"
                                input-id="CUIL"
                                placeholder="ej. 20-35656537-2"
                                label="CUIL"
                                glyphicon="credit-card"
                                ng-model="member.CUIL"
                                is-required="false"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="email"
                                input-id="email"
                                placeholder="ej. juangonzalez@utn.com"
                                label="Correo electrónico"
                                glyphicon="envelope"
                                ng-model="member.email"
                                is-required="false"
                                disabled=" mode.status === 'view' ">
                    </text-field>
                    <text-field input-name="phone"
                                input-id="phone"
                                placeholder="ej. 47012312"
                                label="Teléfono"
                                glyphicon="phone"
                                ng-model="member.phone"
                                is-required="false"
                                disabled=" mode.status === 'view' ">
                    </text-field>-->
            </div>
        </div>
         <div class="col-md-12">
             <h4>Datos del préstamo</h4>
             <text-field    input-name="withdrawDate"
                            input-id="date"
                            placeholder="ej. 12/08/2013"
                            label="Fecha del préstamo"
                            glyphicon="book"
                            ng-model="loan.withdrawDate"
                            is-required="true">
            </text-field>
            <text-field    input-name="agreedReturnDate"
                            input-id="date"
                            placeholder="ej. 12/08/2013"
                            label="Fecha pactada de devolución"
                            glyphicon="book"
                            ng-model="loan.agreedReturnDate"
                            is-required="true">
            </text-field>

        </div>
    </form>                
</div>