<div class="col-xs-6" style="border-right: solid 0.5px #eee">
    <h2>Préstamo</h2>
    <hr/>
    <form name="forms.withdrawForm">
        <div class="row">
            <div class="col-md-4">
                <label for="title">Cod. barras</label>
            </div>
            <div class="col-md-8 form-group" ng-class="{'has-error': (forms.withdrawForm.barCode.$invalid && forms.withdrawForm.$submitted || forms.withdrawForm.barCode.$invalid && forms.withdrawForm.barCode.$dirty)}">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           name="barCode"
                           id="barCode"
                           placeholder="Ingrese el código del ejemplar..."
                           ng-required="true"
                           ng-model="sample.barCode"
                           ng-maxlength="64">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12" ng-messages="forms.withdrawForm.barCode.$error" role="alert" ng-if="forms.withdrawForm.$submitted || forms.withdrawForm.barCode.$dirty">
                    <div class="edit-validation-alert" ng-message="required">&#8710; Este dato es requerido.</div>
                    <div class="edit-validation-alert" ng-message="maxlength">&#8710; La longitud máxima de este campo es de 64 caracteres.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="dni">DNI Socio</label>
            </div>
            <div class="col-md-8 form-group" ng-class="{'has-error': (forms.withdrawForm.dni.$invalid && forms.withdrawForm.$submitted || forms.withdrawForm.dni.$invalid && forms.withdrawForm.dni.$dirty)}">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           name="dni"
                           id="dni"
                           placeholder="Ingrese el DNI del socio..."
                           ng-required="true"
                           ng-model="member.dni"
                           ng-maxlength="64">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12" ng-messages="forms.withdrawForm.dni.$error" role="alert" ng-if="forms.withdrawForm.$submitted || forms.withdrawForm.dni.$dirty">
                    <div class="edit-validation-alert" ng-message="required">&#8710; Este dato es requerido.</div>
                    <div class="edit-validation-alert" ng-message="maxlength">&#8710; La longitud máxima de este campo es de 64 caracteres.</div>
                </div>
            </div>
        </div>
    </form>
    <div class="row clearfix">
        <div class="col-xs-12">
            <button type="button"
                    ng-click="postLoan()"
                    class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-log-out"></span> Prestar
            </button>
        </div>
    </div>

    <hr/>
    <div class="row" ng-hide="book">
        <div class="col-md-4">
            <label for="title">Buscar libros</label>
        </div>
        <div class="col-md-8 form-group" ng-class="{'has-error': (form['title'].$invalid && form.$submitted || form['title'].$invalid && form['title'].$dirty)}">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="title"
                       id="title"
                       placeholder="Escriba un título..."
                       ng-required="true"
                       ng-model="search.title"
                       ng-maxlength="64">
                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12" ng-messages="form['title'].$error" role="alert" ng-if="!noValidate && form.$submitted || !noValidate && form['title'].$dirty">
                <div class="edit-validation-alert" ng-message="required">&#8710; Este dato es requerido.</div>
                <div class="edit-validation-alert" ng-message="maxlength">&#8710; La longitud máxima de este campo es de 64 caracteres.</div>
            </div>
        </div>
    </div>
    <hr ng-hide="book"/>
    <div class="row">
        <div class="col-xs-12"  ng-hide="book">
        <table class="table">
            <thead>
            <tr>
                <th class="subentities-list-header">Título</th>
                <th class="subentities-list-header">Disponibles</th>
                <th class="subentities-list-header"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in allBooks | filter:search:strict | limitTo: 5">
                <td ng-class="{'not-available': (availableSamples(book) === 0)}">{{ book.title }}</td>
                <td ng-class="{'not-available': (availableSamples(book) === 0)}">{{ availableSamples(book) }}</td>
                <td>
                    <button type="button"
                            ng-if="availableSamples(book) > 0"
                            ng-click="setBook(book)"
                            class="btn btn-default"
                            uib-tooltip="Ver ejemplares">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <div class="table-note-sm" ng-if="availableSamples(book) === 0">
                        <p>Prox. devolucion el</p>
                        <p class="emphasis">10-25-2015</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="col-xs-12" ng-if="book">
            <h4>Ejemplares de '{{ book.title }}'</h4>
            <p>Elija un ejemplar de la lista o <a ng-click="unsetBook()" href="javascript:void(0);">elija otro libro...</a></p>
            <table class="table">
                <thead>
                <tr>
                    <th class="subentities-list-header">Codigo Barras</th>
                    <th class="subentities-list-header">Elegir</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sample in filterAvailable(book.samples)">
                    <td>{{ sample.barCode }}</td>
                    <td>
                        <button type="button"
                                ng-click="setSample(sample)"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="col-xs-6">
    <h2>Devolución</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <label for="title">Cod. barras</label>
        </div>
        <div class="col-md-8 form-group" ng-class="{'has-error': (form['title'].$invalid && form.$submitted || form['title'].$invalid && form['title'].$dirty)}">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="title"
                       id="title"
                       placeholder="Ingrese el código del ejemplar..."
                       ng-required="true"
                       ng-model="book.title"
                       ng-maxlength="64">
                <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12" ng-messages="form['title'].$error" role="alert" ng-if="!noValidate && form.$submitted || !noValidate && form['title'].$dirty">
                <div class="edit-validation-alert" ng-message="required">&#8710; Este dato es requerido.</div>
                <div class="edit-validation-alert" ng-message="maxlength">&#8710; La longitud máxima de este campo es de 64 caracteres.</div>
            </div>
        </div>
    </div>
</div>