<div class="row">
    <h3 class="title col-sm-10 no-col-margin">Buscar autores</h3>
    <div class="col-sm-2 no-col-margin">
        <a ui-sref="authors.new()">
            <button class="btn btn-success btn-new">
                <span class="glyphicon glyphicon-plus"></span>
                 Nuevo Autor
            </button>
        </a>
    </div>
</div>

<div class="row">

    <div class="input-group" id="search">
        <input type="text" class="form-control" ng-model="searchCriteria" placeholder="Busca autores por nombre y/o apellido" autofocus/>
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>

    <!--Results area -->
    <img class="media-object avatar-photo" src="http://www.elnorte.com/libre/acceso/imgdiseno/loading3.gif" alt="img" ng-if="loading">
    <div class="media search-result well" ng-repeat="author in authors | search:searchCriteria" ng-if="!loading">
        <div class="pull-left">
            <img class="media-object avatar-photo" src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" alt="img">
        </div>
        <div class="media-body">
            <a ui-sref="authors.abm({id: author.id})"><h4 class="media-heading">{{ author.firstName }} {{ author.lastName }}</h4></a>
            <p> Nacionalidad: {{ author.nationality }}</p>
        </div>
    <entity-controls edit-action="edit(place)" delete-action="delete(author)" entity="author" entity-name="authors" delete-status="deleteStatus"></entity-controls>

    </div>
 </div>