    <div class="row">
        <div class="authorEditPanel" ng-show="definedEntity">
        <form name="form" role="form" class="well" novalidate>
            <div id="author-name-display" class="col-lg-12 well">
                    <img class="author-edit-photo pull-left" src="{{ displayUrl }}" alt="No autor"/>
                    <h2>{{ (author.firstName + " " +author.lastName) || "No se halló el autor"}}</h2>
                    <h4>{{ author.nationality || "Nacionalidad desconocida" }}</h4>
            </div>
            <div id="modeMessage" class="col-lg-12" ng-class="{ 'bg-success': !editableEntity, 'bg-danger': editableEntity }">
                <h4 ng-if="mode === 'edit'">Modo de edición</h4>
                <h4 ng-if="mode === 'create'">Modo de creación</h4>
                <h4 ng-if="mode === 'view'">Modo de view</h4>
            </div>
                <div class="form-group">
                    <label for="InputName">Nombre(s) del autor</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="uFirstName" id="firstNameInput" placeholder="ej.  Germán, María del Pilar" required ng-model="author.firstName" ng-disabled="!editableEntity" autofocus/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                
                    </div>
                    <div class="edit-validation-alert alert alert-danger" ng-show="form.uFirstName.$error.required">El autor debe tener nombre.
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputName">Apellido(s) del autor</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="uLastName" id="lastNameInput" placeholder="ej. Gonzalez, Aguirre" required ng-model="author.lastName" ng-disabled="!editableEntity">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                    <div class="edit-validation-alert alert alert-danger" ng-show="form.uLastName.$error.required">El autor debe tener apellido.</div>
                </div>
                <div class="form-group">
                    <label for="InputName">Nacionalidad del autor</label>
                    <div class="input-group selectpicker-input-group">
                        <select data-style="btn-primary" name="singleSelect" ng-model="author.nationality" ng-options="item for item in countries" class="selectpicker" ng-disabled="!editableEntity">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputName">Url de la foto del autor</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="uImageUrl" id="imageUrlInput" placeholder="ej.  http://carlyle.com/picture.jpg" ng-model="author.imageUrl" ng-disabled="!editableEntity"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning" ng-click="toggleEdit()" ng-show="!editableEntity">
                        <span class="glyphicon" ng-class="{ 'glyphicon-edit': editableEntity, 'glyphicon-lock': !editableEntity }"></span>
                        Editar
                    </button>
                    <input type="submit" class="btn btn-primary" value="Guardar cambios" ng-click="guardarCambios()" ng-disabled="!editableEntity || form.$invalid" data-toggle="modal" data-target="#editConfirmationModal"/>
                    <button class="btn btn-info" ng-disabled="!editableEntity" ng-click="restoreEntity()">Restaurar</button>
                    <button class="btn btn-danger" ng-click="deleteEntity()" data-toggle="modal" data-target="#editConfirmationModal">Eliminar</button>
                </div>
                <div id="author-books-list">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nombre del libro</th>
                        <th>Editorial</th>
                        <th>Año</th>
                        <th>Ejemplares disp.</th>
                        <th>Ejemplares tot.</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="book in author.books">
                        <td><a href="#"> {{ book.title }}</a></td>
                        <td>{{ book.editorial }}</td>
                        <td>{{ book.publishYear }}</td>
                        <td>{{ book.copiesAvailable }}</td>
                        <td>{{ book.copiesTotal }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </form>
        </div>
        <div class="authorEditPanel" ng-hide="definedEntity">
            <h1>Oops!</h1>
            <h3>No hay autor con el id {{author.id}}</h3>
        </div>
    </div>

<modal save-status="saveStatus"></modal>
