<div class="btn-group" role="group" aria-label="...">
        <button data-toggle="tooltip" ng-click="editAction({place: entityName + '/' + entity.id + '/edit'})" type="button" class="btn btn-primary edit-tooltip" title="Edit author" text="delete">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Editar
        </button>
        <button ng-click="deleteAction({author: entity })" type="button" class="btn btn-danger delete-tooltip" title="Delete author" data-toggle="modal" data-toggle="modal" data-target="#editConfirmationModal">   Eliminar
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
</div>
<modal save-status="deleteStatus"></modal>