<div class="row">
    <div class="col-md-3">
            <label for="{{ inputName }}">{{ label }}<span style="color:red" ng-show="::isRequired">*</span></label>  
    </div>
    <div class="col-md-9 form-group" ng-class="{'has-error': (form[inputName].$invalid && form.$submitted || form[inputName].$invalid && form[inputName].$dirty)}">
            <select class="form-control" id="sel1" type="{{ inputType }}"
                   class="form-control"
                   name="{{ inputName }}"
                   id="{{ inputId }}"
                   placeholder="{{ placeholder }}"
                   ng-options="value for value in values"
                   ng-required=" {{ isRequired }}" 
                   ng-model="model" 
                   ng-disabled="isDisabled"></select>
    </div>
    <div class="col-md-12">
      <div class="col-md-12"ng-messages="form[inputName].$error" role="alert" ng-if="!noValidate && form.$submitted || !noValidate && form[inputName].$dirty">
        <div class="edit-validation-alert" ng-message="required">Este dato es requerido.</div>
      </div>
    </div>
</div>
