.author-photo
{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.author-edit-photo {
    height: 100%;
}

.authors-book-header {
     text-align: center;   
}

#author-name-display {
  height:100px;
  padding:0px;
  background-color:#eee;
}

