    <div class="row">
        <div class="publisherEditPanel">
        <form name="forms.publishersAbmForm" role="form" class="well" novalidate>
            <div id="entity-name-display" class="col-lg-12 well">
                    <img class="entity-edit-photo pull-left" ng-src="{{ defaultImg }}" alt="No se ha hallado la imagen"/>
                    <h2>{{ (publisher.name)}}</h2>
            </div>
            <div id="mode-message" class="col-lg-12" ng-class="{ 'bg-primary': mode.status ==='view', 'bg-danger': mode.status ==='edit' }">
                <h4 ng-if="mode.status === 'edit'">Modo de edición</h4>
                <h4 ng-if="mode.status === 'create'">Modo de creación</h4>
                <h4 ng-if="mode.status === 'view'">Modo de sólo lectura</h4>
            </div>
                <text-field input-name="name"
                            input-id="name"
                            label="Nombre"
                            glyphicon="user"
                            ng-model="publisher.name"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Editar" ng-click="goToEdit()" ng-show="mode.status ==='view'"/>
                    <input type="submit" class="btn btn-success" value="Guardar cambios" ng-click="savePublisher()" ng-disabled="form.$invalid" ng-show="mode.status !=='view'"/>
                    <input type="submit" class="btn btn-warning" value="Descartar cambios" ng-click="discardChanges()" ng-disabled="form.$invalid" ng-show="mode.status ==='edit'"/>
                    <input type="submit" class="btn btn-danger" value="Eliminar editorial" ng-click="deletePublisher()" ng-show="mode.status ==='edit'"/>
                </div>
        </form>
        </div>
    </div>

<modal save-status="saveStatus"></modal>
