<!--Search area -->
<div class="input-group" id="search">
    <input type="text" class="form-control" ng-model="search" placeholder="Search for authors" />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

<!--Results area -->
<div class="media search-result well" ng-repeat="author in authors | filter:search">
    <a class="pull-left" href="#">
        <img class="media-object author-photo" ng-src="{{ author.imageUrl }}" alt="img">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ author.firstName }} {{ author.lastName }}</h4>
    </div>
<entity-controls edit-action="go(place)" delete-action="" entity-name="authors" entity-id=" {{ author.id}}"></entity-controls>

</div>
