<!--Search area -->
<div class="input-group" id="search">
    <input type="text" class="form-control" ng-model="search" placeholder="Search for books" autofocus/>
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

<!--Results area -->
<div class="media search-result well" ng-repeat="book in books | filter:search">
    <a class="pull-left" href="#">
        <img class="media-object book-photo" ng-src="{{ book.imageUrl }}" alt="img">
    </a>
    <div class="media-body">
        <a ng-href="#/books/{{book.id}}"><h4 class="media-heading">{{ book.firstName }} {{ book.lastName }}</h4></a>
    </div>
<entity-controls edit-action="edit(place)" delete-action="delete(book)" entity="book" entity-name="books" delete-status="deleteStatus"></entity-controls>

</div>

