    <div class="row">
        <div class="userEditPanel">
        <form name="forms.usersAbmForm" role="form" class="well" novalidate>
            <div id="entity-name-display" class="col-lg-12 well">
                    <img class="entity-edit-photo pull-left" ng-src="{{ defaultImg }}" alt="No se ha hallado la imagen"/>
                    <h2>{{ (user.firstName + " " +user.lastName)}}</h2>
            </div>
            <div id="mode-message" class="col-lg-12" ng-class="{ 'bg-primary': mode.status ==='view', 'bg-danger': mode.status ==='edit' }">
                <h4 ng-if="mode.status === 'edit'">Modo de edición</h4>
                <h4 ng-if="mode.status === 'create'">Modo de creación</h4>
                <h4 ng-if="mode.status === 'view'">Modo de sólo lectura</h4>
            </div>
                <text-field input-name="username"
                            input-id="username"
                            label="Nombre de Usuario"
                            glyphicon="user"
                            ng-model="user.username"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <text-field input-name="password"
                            input-id="password"
                            input-type="password"
                            label="Contraseña"
                            glyphicon="user"
                            ng-model="user.password"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <text-field input-name="userFirstName"
                            input-id="userFirstName"
                            label="Nombre"
                            glyphicon="user"
                            ng-model="user.firstName"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <text-field input-name="userLastName"
                            input-id="userLastName"
                            label="Apellido"
                            glyphicon="user"
                            ng-model="user.lastName"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <text-field input-name="dni"
                            input-id="dni"
                            label="DNI"
                            glyphicon="user"
                            ng-model="user.dni"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            max-length="50">
                </text-field>
                <select-field input-name="userRole"
                            input-id="userRole"
                            label="Rol"
                            glyphicon="plane"
                            ng-model="user.role"
                            is-required="true"
                            is-disabled="mode.status === 'view'"
                            values="['ADMIN','SUPERVISOR']">
                </select-field>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Editar" ng-click="goToEdit()" ng-show="mode.status ==='view'"/>
                    <input type="submit" class="btn btn-success" value="Guardar cambios" ng-click="saveUser()" ng-disabled="form.$invalid" ng-show="mode.status !=='view'"/>
                    <input type="submit" class="btn btn-warning" value="Descartar cambios" ng-click="discardChanges()" ng-disabled="form.$invalid" ng-show="mode.status ==='edit'"/>
                    <input type="submit" class="btn btn-danger" value="Eliminar usuario" ng-click="deleteUser()" ng-show="mode.status ==='edit'"/>
                </div>
        </form>
        </div>
    </div>

<modal save-status="saveStatus"></modal>
