  <img width="770" src="./assets/img/logo.png">

<br>
<hr>
  <h3>Ingreso</h3>
<div class="well">

  <form name="forms.loginForm">
                <text-field input-name="username"
                            input-id="username"
                            label="Usuario"
                            glyphicon="user"
                            ng-model="user.username"
                            is-required="true"
                            autofocus="true">
                </text-field>
                <text-field input-name="password"
                            input-id="password"
                            input-type="password"
                            label="Contraseña"
                            glyphicon="lock"
                            ng-model="user.password"
                            is-required="true">
                </text-field>
  </form>
  <generic-error generic-error="errors"></generic-error>
  <button class="btn btn-block btn-primary" form="forms.loginForm" ng-click="login(user)" type="submit">Ingresar</button>
</div>
